.DS_Store
node_modules
dist
terraform/**/.terraform
terraform/**/lambda-packages
terraform/**/.terraform.lock.hcl
.aws-sam
# Keep environment variables out of version control
.env

/src/generated/prisma
