name: Plan or Deploy
run-name: "Terraform ${{ github.event.inputs.command }} - ${{ github.event.inputs.environment }}"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment"
        required: true
        type: choice
        options:
          - develop
          - staging
          - production
        default: develop
      command:
        description: "Terraform command to run"
        required: true
        type: choice
        options:
          - plan
          - apply
        default: plan

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}

    env:
      TF_VAR_sql_server_config: ${{ secrets.TF_VAR_SQL_SERVER_CONFIG_JSON }}

    permissions:
      id-token: write

    defaults:
      run:
        working-directory: terraform/environments/${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install deps
        run: npm i

      - name: Generate Prisma schema
        run: npm run prisma:generate

      - name: Build
        run: npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ">=1.12"

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
        continue-on-error: true

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        if: github.event.inputs.command == 'plan'
        run: terraform plan

      - name: Terraform Apply
        if: github.event.inputs.command == 'apply'
        run: terraform apply -auto-approve
